<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803557420882-sitnqr786jmn226h7pjqsfadab4vnc93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803557420882-sitnqr786jmn226h7pjqsfadab4vnc93</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803557420882-fdvfqn5bo8t6c9v605n5k3jcq3mn5hqs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-C-lDbvg7pHejr1UVLHDNmLi5f4ARKsM</string>
	<key>GCM_SENDER_ID</key>
	<string>803557420882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.UserMobileApp</string>
	<key>PROJECT_ID</key>
	<string>rn-9339d</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-9339d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803557420882:ios:dc99ddda27dd6621d9d48b</string>
</dict>
</plist>